<div class="bgImage">
  <div class="container-fluid containerPadding">
    <div class="row pt-5">
      <div class="col-md-3">
        <span class="userText"> Users</span>
      </div>
      <div class="col-md-9" align="right">
        <button class="btn btn-light me-4 addUserBtn" (click)="addUser()">
          Add User
        </button>
      </div>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let obj of users">
                <td>NP-00000{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.email }}</td>
                <td>{{ obj.phone }}</td>
                <td>{{ obj.role }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer"><app-footer></app-footer></div>
