<div class="bgImage">
  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-6 col-md-4 mt-5">
        <div class="pt-5 ps-5 pe-5 form-color">
          <form [formGroup]="signinForm" autocomplete="off">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                formControlName="username"
                name="username"
                type="text"
                class="form-control"
                id="username"
                aria-describedby="emailHelp"
                required
                [ngClass]="{
                  'is-invalid':
                    (f['username'].touched || submitted) && f['username'].errors
                }"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <div>
                <input
                  formControlName="password"
                  name="password"
                  [type]="type"
                  class="form-control"
                  id="password"
                  required
                  [ngClass]="{
                    'is-invalid':
                      (f['password'].touched || submitted) &&
                      f['password'].errors
                  }"
                />
              </div>
            </div>

            <div class="mb-3">
              <a routerLink="/resetpassword">Forgot password?</a>
            </div>
            <button
              (click)="onSubmit()"
              class="btn mb-3 btn btn-primary btn-block w-100"
              [disabled]="signinForm.invalid"
            >
              Login
            </button>
          </form>
          <div class="mb-3" align="center">
            <a class="SignUpLabel" routerLink="/signup">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
